  {%- comment -%}
  {% for link in linklists.main-menu.links %}
  {% assign child_list_handle = link.title | handleize %}
  {% if linklists[child_list_handle].links != blank %}
  <a href="{{ link.url }}">{{ link.title }}</a>
  [{% for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
        {% endfor %}]
        {% else %}
      <a href="{{ link.url }}">{{ link.title }}</a>
      {% endif %}
      {% endfor %}
      
      <a href="/cart">cart</a>
      
  {% if shop.customer_accounts_enabled %}
  {% if customer %}
  <a href="/account">account</a>
      {{ 'log out'  | customer_logout_link }}
      {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
      {% endif %}
      {% endif %}
      {%- endcomment -%}
      
{% assign links_length = linklists.header-menu.links | size %}
{% assign half_length = links_length | divided_by: 2 | ceil %}
      
  <header id="header" class="Header" data-section-id="{{ section.id }}">
    <div class="Header__inner container">
      <div class="Header__left">
        <button class="Header__search">{% render 'icon-search' %}</button>
        <button class="Header__burger" @click="openMenuMobile">{% render 'icon-burger' %}</button>
  
        <nav class="Header__nav">
          <ul class="Header__linklist">
            {% for link in linklists.header-menu.links %}
              {% if forloop.index <= half_length %}
                <li>
                  <a class="link" href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="Header__center">
        <a href="/" class="Header__logo--container">
          <img src="{{ section.settings.logo | img_url: '130x' }}" class="Header__logo" alt="logo" />
        </a>
      </div>
      <div class="Header__right">
        <nav class="Header__nav">
          <ul class="Header__linklist">
            {% for link in linklists.header-menu.links %}
              {% if forloop.index > half_length %}
                <li>
                  <a class="link" href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
        <button class="Header__bag" @click="openCartSidebar">
          {% render 'icon-bag' %} 
          <template v-if="cart && cart.items.length > 0">
            <span class="Header__bag--badge">
              ${cart.item_count}
            </span>
          </template>
        </button>
      </div>
    </div>
  </header>
    
<script>
    if (document.querySelector('#header')) {
        const headerCart = Vue.createApp({
          delimiters: ['${', '}'],
          data() {
            return {
              cartData: store.state.cartState
            }
          },
          methods: {
            openCartSidebar() {
              store.openCartSidebar()
            },
            openMenuMobile() {
              store.openMenuMobile()
            },

          },
          computed: {
            cartOpen() {
              return store.state.cartSidebar.open
            },
            menuOpen() {
              return store.state.menuMobile.open
            },
            cart() {
              return this.cartData[0]
            }
          },
          created() {
            store.getCart()
          }
        }).mount('#header')
      }
</script>

{% schema %}
{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ]
}
{% endschema %}