<div class="ProductCard">
  <a class="ProductCard__link" href="{{ product.url | within: collection }}">
    <div class="ProductCard__image">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
    </div>
    <div class="ProductCard__details">
      <h3 class="ProductCard__title">
        {{ product.title }}
      </h3>
      <div class="ProductCard__price">{{ product.price | money }}</div>
    </div>
  </a>
</div>